*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
background:#07111f;
color:#fff;
}

body{
display:flex;
flex-direction:column;
}

.background{
position:fixed;
inset:0;
background:
radial-gradient(circle at center,#102846 0%,#07111f 70%);
z-index:-2;
}

.background::after{
content:"";
position:absolute;
inset:0;
background-image:
linear-gradient(rgba(0,255,255,.05) 1px,transparent 1px),
linear-gradient(90deg,rgba(0,255,255,.05) 1px,transparent 1px);
background-size:40px 40px;
}

header{
height:90px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 30px;
border-bottom:1px solid rgba(0,255,255,.25);
}

.brand{
display:flex;
align-items:center;
gap:18px;
}

.logo{
width:58px;
height:58px;
object-fit:contain;
}

.brand h1{
font-size:34px;
color:#00eaff;
}

.brand p{
font-size:14px;
letter-spacing:3px;
color:#88ffff;
}

.datetime{
text-align:right;
}

#clock{
font-size:42px;
font-weight:bold;
color:#00ffff;
}

#date{
font-size:16px;
color:#9efcff;
}

.dashboard{
flex:1;
display:grid;
grid-template-columns:300px 1fr 300px;
gap:20px;
padding:20px;
}

.leftPanel,
.rightPanel{
display:flex;
flex-direction:column;
gap:20px;
}

.card{
flex:1;
background:rgba(15,30,55,.75);
border:2px solid rgba(0,255,255,.25);
border-radius:20px;
padding:22px;
box-shadow:0 0 25px rgba(0,255,255,.15);
}

.card h2{
font-size:24px;
margin-bottom:18px;
color:#00eaff;
}

.card h1{
font-size:52px;
margin-bottom:12px;
color:#00ffff;
}

.card p{
font-size:18px;
margin:8px 0;
}

.centerPanel{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hud{
position:relative;
width:430px;
height:430px;
display:flex;
justify-content:center;
align-items:center;
}

.centerLogo{
width:220px;
z-index:5;
filter:drop-shadow(0 0 25px cyan);
}

.ring{
position:absolute;
border-radius:50%;
border:2px solid rgba(0,255,255,.25);
}

.ring1{
width:220px;
height:220px;
animation:spin 10s linear infinite;
}

.ring2{
width:320px;
height:320px;
animation:spinReverse 18s linear infinite;
}

.ring3{
width:420px;
height:420px;
animation:spin 26s linear infinite;
}

.visualizer{
margin-top:35px;
display:flex;
align-items:flex-end;
gap:8px;
height:120px;
}

.bar{
width:12px;
height:60px;
background:#00ffff;
border-radius:20px;
animation:music 1s infinite;
}

.bar:nth-child(even){
animation-delay:.25s;
}

footer{
height:65px;
display:grid;
grid-template-columns:repeat(4,1fr);
align-items:center;
text-align:center;
border-top:1px solid rgba(0,255,255,.25);
background:#081523;
font-size:18px;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

@keyframes spinReverse{
100%{transform:rotate(-360deg);}
}

@keyframes music{
50%{
transform:scaleY(.35);
}
}
